{%- comment -%}

  checkout-cardigan.liquid

  The default Liquid snippet implementation for the Cardigan application.
  Learn more at https://docs.runcardigan.com.

{%- endcomment -%}

{%- comment -%}
  Define HTML templates to be used by Cardigan.
{%- endcomment -%}
{%- capture CARDIGAN_TEMPLATE_PIN -%}
  <div class="fieldset fieldset--pin">
    <div class="field">
      <div class="field__input-btn-wrapper">
        <div class="field__input-wrapper">
          <label class="field__label field__label--visible" for="checkout_pin">PIN</label>
          <input placeholder="PIN" class="field__input" autocomplete="off" aria-required="true" size="4" type="text" name="checkout[pin]" id="checkout_pin" aria-label="PIN" />
        </div>

        <button type="button" class="field__input-btn field__input-btn--spacer btn btn--disabled" disabled="disabled">
          <span class="btn__content visually-hidden-on-mobile">{{ 'shopify.checkout.order_summary.apply_discount_button_label' | t }}</span>
          <i class="btn__content shown-on-mobile icon icon--arrow"></i>
          <i class="btn__spinner icon icon--button-spinner"></i>
        </button>
      </div>
    </div>
  </div>
{%- endcapture -%}

{%- comment -%}
  Render Cardigan's minimal CSS styles.
{%- endcomment -%}
<style>
  .fieldset--pin {
    display: none;
  }

  .field__input-btn--spacer {
    visibility: hidden;
  }

  .is-potential-card .fieldset--pin {
    display: block;
  }
</style>

{%- comment -%}
  Render Cardigan configuration as a JSON object.
{%- endcomment -%}
<script id="cardigan-config" type="application/json">
  {{ shop.metafields.cardigan.config | json }}
</script>

{%- comment -%}
  Render Cardigan HTML templates as a JSON object.
{%- endcomment -%}
<script id="cardigan-templates" type="application/json">
  {
    "pin": {{ CARDIGAN_TEMPLATE_PIN | json }}
  }
</script>

{%- comment -%}
  Load the Cardigan JS library.
{%- endcomment -%}
<script type="text/javascript" src="{{ shop.metafields.cardigan.config.cardigan_js_uri }}" async></script>
